n8n/Watchdog combined.json
{
  "name": "Watchdog combined",
  "nodes": [
    {
      "parameters": {
        "sendTo": "khushboopatil3008@gmail.com",
        "subject": "Watchdog Agent Report",
        "emailType": "text",
        "message": "={{ $json.reportText }}",
        "options": {}
      },
      "id": "934055f5-1dd3-4674-ad3c-ab3ae5d1a408",
      "name": "Send Alert Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4528,
        1776
      ],
      "webhookId": "aaa9acbf-51d5-4635-8996-b3cdb61cead9",
      "credentials": {
        "gmailOAuth2": {
          "id": "iaNbV2DdUlqLgRVv",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.text }}",
        "options": {}
      },
      "id": "9977794c-7a4c-4d2c-9e19-103d131ccffe",
      "name": "Execute Shortfall Query",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4080,
        1624
      ],
      "credentials": {
        "postgres": {
          "id": "QPfZlQMKTdJ630Xt",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  *,\n  CASE \n    WHEN (\"Expiry Date\")::date <= CURRENT_DATE + INTERVAL '30 days' THEN 'critical'\n    WHEN (\"Expiry Date\")::date <= CURRENT_DATE + INTERVAL '60 days' THEN 'high'\n    WHEN (\"Expiry Date\")::date <= CURRENT_DATE + INTERVAL '90 days' THEN 'medium'\n    ELSE 'low'\n  END AS risk_level\nFROM available_inventory_report\nWHERE (\"Expiry Date\")::date <= CURRENT_DATE + INTERVAL '90 days'\n  AND (\"Expiry Date\")::date > CURRENT_DATE\nORDER BY (\"Expiry Date\")::date ASC;\n",
        "options": {}
      },
      "id": "495bbb05-fe8f-4250-a67a-86839e8bdfcd",
      "name": "Query Expiry Risks",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4080,
        1920
      ],
      "credentials": {
        "postgres": {
          "id": "QPfZlQMKTdJ630Xt",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3800,
        1744
      ],
      "id": "c081fd28-2b5e-4ba2-a196-558faef93e5e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "7x2sK3VSQHLeOzMX",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.weeks_threshold }}{{ $json.today }}{{ $json.demand_cols }}\nPredict the shortfalls for today",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are the Supply Watchdog, an autonomous, analytical AI agent. Your task is to perform daily inventory risk assessments and generate precise, executable PostgreSQL queries. **CONTEXT:** Today is {{ $json.today }}. The lookback window for demand is the average of the last 3 months: **{{$json.demand_cols}}**. The alert threshold is stock running out in **{{ $json.weeks_threshold }} weeks** or less. Your ONLY output must be the complete PostgreSQL SQL query. DO NOT include any explanatory text, markdown formatting (like\nsql`), or surrounding code.  ## SCHEMA ABSTRACTION You must join these tables (using the AS aliases provided) to solve the Shortfall Prediction: | Business Concept | Required Table | Column Names (Use these exact names!) | | :--- | :--- | :--- | | **Supply** | `available_inventory_report` (S) | `\"Trial Name\"`, `\"Location\"`, `\"Received Packages\"`, `\"Shipped Packages\"` | | **Demand** | `enrollment_rate_report` (D) | `\"Trial Alias\"`, `\"Country\"`, {', '.join(f'\"{c}\"' for c in demand_cols)}, `\"Year\"` | | **Linkage** | `allocated_materials_to_orders` (M) | `trial_alias`, `trial_alias_description` (maps to S.\"Trial Name\") |  \n## CALCULATION LOGIC: \n1. Available Stock: SUM(\"Received Packages\" - \"Shipped Packages\") \n2. Monthly Demand: ({' + '.join(f'COALESCE(\"{c}\",0)' for c in demand_cols)}) / {len(demand_cols)}.0 \n3. Weeks of Coverage: (Available Stock / NULLIF(Monthly Demand, 0)) * 4  \n\n## NOTE - Safe Cast each column inside the math expressions to avoid null/empty string issues. \n## FINAL INSTRUCTION: Generate a single, complete PostgreSQL query that identifies all combinations of Trial/Country where 'Weeks of Coverage' is less than{{ $json.weeks_threshold }}. \n## JSON OUTPUT REQUIREMENT\nYou must return ONLY valid JSON with this structure:\n\n{\n  \"sql_query\": \"<POSTGRES SQL HERE>\"\n}\n\n##Strictly follow below rules\nReturn plain SQL only.\nYour output must contain ONLY the SQL query. \nNo JSON. No keys. No markdown. No backticks. No surrounding text.\nReturn plain SQL only.\nDo NOT add \\n or any JSON formatting\n\n\n## SAFE CASTING RULE (MANDATORY)\nFor every numeric operation in SELECT, WHERE, CTEs, JOIN conditions, or aggregation:\n\n##IMPORTANT\n- Ensure that {{ $json.demand_cols }}  are wrapped in SUM() to avoid GROUP BY errors.\n \n- Always wrap every column in: CAST(COALESCE(<column>, '0') AS NUMERIC)\n- For text fields used in joins: CAST(<column> AS TEXT)\n- Never assume the column contains numbers or is non-null.\n- Never change the actual column names or spellings from the schema abstraction.\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        3728,
        1520
      ],
      "id": "17696827-ca54-4dd4-b4f8-6086ca3ee611",
      "name": "Basic LLM Chain",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9dd0d6d2-b521-4392-a435-a0c5d7eef945",
              "name": "today",
              "value": "={{ $now.toFormat('YYYY-MM-DD') }}",
              "type": "string"
            },
            {
              "id": "9f297991-ea65-470a-93b2-441ed347ac0e",
              "name": "demand_cols",
              "value": "Sep,Oct,Nov",
              "type": "string"
            },
            {
              "id": "44b0937e-3d7b-409d-98a0-ffad0fd6ad0f",
              "name": "weeks_threshold",
              "value": "8",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3504,
        1624
      ],
      "id": "3059acf5-b5b8-422e-852d-7f17da8a65e6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "id": "618a88d1-9035-4ca7-b11d-caf91a183f29",
      "name": "Daily Schedule1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        3280,
        1772
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "emailRecipient",
              "value": "khushboopatil3008@gmail.com",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "de7ca020-8e31-414f-b90d-fc9f065dac9d",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3792,
        1920
      ]
    },
    {
      "parameters": {
        "jsCode": "const shortfallData = $(\"Execute Shortfall Query\")\n  .all()\n  .map((item) => item.json);\nconst expiryRisksData = $(\"Query Expiry Risks\")\n  .all()\n  .map((item) => item.json);\n\nreturn [\n  {\n    json: {\n      shortfallData,\n      expiryRisksData,\n    },\n  },\n];\n"
      },
      "id": "93f92410-c447-440a-879e-ae7db63409f2",
      "name": "Format Alert Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4304,
        1776
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Daily Schedule1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Execute Shortfall Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Query Expiry Risks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Shortfall Query": {
      "main": [
        [
          {
            "node": "Format Alert Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Expiry Risks": {
      "main": [
        [
          {
            "node": "Format Alert Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Alert Data": {
      "main": [
        [
          {
            "node": "Send Alert Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "86b580fd-18b6-477c-b886-ac4e6027543f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9a136921e4836875115aabb897476f42d836138ab95e78d2b291ad4cb92fe794"
  },
  "id": "tx1aS9oPocBRVmgR",
  "tags": []
}